@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-default: rgba(0, 0, 0, 0.9);
  --text-dimmed: rgba(0, 0, 0, 0.6);
  --text-invers: rgba(255, 255, 255, 0.9);
  --text-accent: rgba(25, 71, 147, 0.9);
  --text-danger: rgba(234, 15, 65, 0.9);

  --bg-screen: rgb(240, 240, 240);
  --bg-tile: rgb(255, 255, 255);
  --bg-warn: rgb(255, 172, 51);
  --bg-error: rgb(234, 15, 65);

  --text-default-dark: rgba(255, 255, 255, 0.9);
  --text-dimmed-dark: rgba(255, 255, 255, 0.6);
  --text-invers-dark: rgba(0, 0, 0, 0.9);
  --text-accent-dark: rgb(255, 172, 51);

  --bg-screen-dark: rgb(27, 27, 27);
  --bg-tile-dark: rgb(39, 39, 39);
  --bg-warn-dark: rgb(143, 86, 0);
  --bg-error-dark: rgb(234, 89, 114);

  --tile-spacing: 0.5rem;
  --tile-padding: 1rem;
}

.dark-mode {
  --text-default: var(--text-default-dark);
  --text-dimmed: var(--text-dimmed-dark);
  --text-invers: var(--text-invers-dark);
  --text-accent: var(--text-accent-dark);

  --bg-screen: var(--bg-screen-dark);
  --bg-tile: var(--bg-tile-dark);
  --bg-warn: var(--bg-warn-dark);
  --bg-error: var(--bg-error-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-default: var(--text-default-dark);
    --text-dimmed: var(--text-dimmed-dark);
    --text-invers: var(--text-invers-dark);
    --text-accent: var(--text-accent-dark);

    --bg-screen: var(--bg-screen-dark);
    --bg-tile: var(--bg-tile-dark);
    --bg-warn: var(--bg-warn-dark);
    --bg-error: var(--bg-error-dark);
  }
}

* {
  position: relative;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 1.2vw;
}

select:focus,
input:focus {
  outline: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

hr {
  border: 0;
  background-color: currentcolor;
}

img,
svg {
  vertical-align: middle;
}

.grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
}

.gap-spacing {
  grid-gap: var(--tile-spacing);
}

.gap-padding {
  grid-gap: var(--tile-padding);
}

.gap-0 {
  grid-gap: 0;
}

.gap-1 {
  grid-gap: 0.25rem;
}

.gap-2 {
  grid-gap: 0.5rem;
}

.gap-4 {
  grid-gap: 1rem;
}

.gap-8 {
  grid-gap: 2rem;
}

.align-self-start {
  align-self: end;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: end;
}

.align-content-start {
  align-content: start;
}

.align-content-center {
  align-content: center;
}

.align-content-end {
  align-content: end;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-end {
  justify-self: end;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-end {
  justify-items: end;
}

.place-center {
  align-items: center;
  justify-items: center;
}

.emoji {
  margin: 0 0.15em;
  width: auto;
  height: 0.85em;
  vertical-align: baseline;
}

.markup h1 {
  @apply font-bold;
  @apply text-2xl;
  @apply tracking-wide;
  @apply uppercase;
}

.markup h2 {
  @apply font-bold;
}

.markup li {
  @apply flex justify-between items-baseline;
  @apply leading-tight;
  /*@apply border-b-2 border-screen;*/
  padding: 0.35rem 0;
}

.markup li:first-child {
  @apply pt-0;
}

.markup li:last-child {
  @apply border-0;
}
